.tiny_ai-info-warning {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Atkinson Hyperlegible";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  p {
    margin: 0;
  }

  a:not(.mbs-footer-link-list) {
    color: $neutral-grey-300;
  }
}

.dark {
  .tiny_ai-info-warning {
    a:not(.mbs-footer-link-list) {
      color: $neutral-grey-200;
    }
  }
}
