{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_ai/modal

    Modal to select ai actions within the Tiny Editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {}
}}

{{< core/modal }}

    {{$title}}
        {{#str}} modaltitle, tiny_ai {{/str}}
    {{/title}}

    {{$body}}
        <form class="mform">
            <div class="mb-4">
                <span class="btn btn-secondary tiny_ai_fullwidth" id="tiny_ai-simplify">
                    <img src="/lib/editor/tiny/plugins/ai/pix/simplify.png" class="pix-16">
                    {{#str}} simplify, tiny_ai {{/str}}
                </span>
                <span id="tiny_ai-simplify-settings" class="tiny_ai-settings hidden">
                    {{#str}} additional_prompt, tiny_ai {{/str}}
                    <textarea id="tiny_ai-simplify-prompt" class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth">{{{defaultprompt-simplify}}}</textarea>
                    <span class="btn btn-primary" id="{{btnIdStartSimplification}}">
                        {{#str}} startSimplification, tiny_ai {{/str}}
                    </span>
                </span>
                <span class="btn btn-secondary tiny_ai_fullwidth mt-10" id="tiny_ai-translate">
                    <img src="/lib/editor/tiny/plugins/ai/pix/translation.png" class="pix-16">
                    {{#str}} translate, tiny_ai {{/str}}
                </span>
                <span id="tiny_ai-translate-settings" class="tiny_ai-settings hidden">
                    {{#str}} additional_prompt, tiny_ai {{/str}}
                    <textarea id="tiny_ai-translate-prompt" class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth">{{{defaultprompt-translate}}}</textarea>
                    <span class="btn btn-primary" id="{{btnIdStartTranslation}}">
                        {{#str}} startTranslation, tiny_ai {{/str}}
                    </span>
                </span>
                <span class="btn btn-secondary tiny_ai_fullwidth mt-10" id="tiny_ai-text-to-speech">
                    <img src="/lib/editor/tiny/plugins/ai/pix/text-to-speech.png" class="pix-16">
                    {{#str}} text-to-speech, tiny_ai {{/str}}
                </span>
                <span id="{{{spanResult}}}" class="hidden">
                    <h4>{{#str}} results_heading, tiny_ai {{/str}}
                    <textarea id="{{{taResult}}}" class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth">{{#str}} results_please_wait, tiny_ai {{/str}}</textarea>
                </span>
            </div>
        </form>
    {{/body}}

    {{$footer}}
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel, moodle {{/str}}</button>
        <button type="button" class="btn btn-primary" data-action="save">{{#str}} apply, moodle{{/str}}</button>
    {{/footer}}
{{/ core/modal }}
