{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template tiny_ai/modal

Modal to select ai actions within the Tiny Editor.

Classes required for JS:
* none

Data attributes required for JS:
* none

Context variables required for this template:

Example context (json):
{}
}}

{{< core/modal }} {{$title}} {{#str}} modaltitle, tiny_ai {{/str}} {{/title}} {{$body}}
    <div class="tiny_ai_modal_body">
        {{#noactionsavailable}}
            {{#str}}nopurposesconfigured, tiny_ai{{/str}}
        {{/noactionsavailable}}
        {{^noactionsavailable}}
            <div data-content="local_ai_manager_infobox" data-userid="{{userid}}"></div>
            <form class="mform">
                <div class="accordion" id="accordionPurpose">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                    {{#pix}} icon, tiny_ai{{/pix}}
                                    {{#str}} simplify, tiny_ai {{/str}}
                                </button>
                            </h2>
                        </div>


                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionPurpose">
                            <div class="card-body">
                                {{#showsimplify}}
                                    <p>
                                        <button class="btn btn-primary" type="button" id="{{btnIdStartSimplification}}">{{#str}} startSimplification, tiny_ai {{/str}}</button>
                                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#additional-prompt-chat" aria-expanded="false"
                                                aria-controls="additional-prompt-chat">{{#str}} more_options , tiny_ai{{/str}}</button>
                                    </p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="additional-prompt-chat">
                                                <div class="card card-body">
                  <span>
                    {{#str}} additional_prompt, tiny_ai {{/str}}
                      <textarea id="tiny_ai-simplify-prompt"
                                class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth">{{#str}} defaultprompt-simplify, tiny_ai {{/str}}</textarea>
                  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/showsimplify}}
                                {{^showsimplify}}
                                    {{#str}}purposesinglepromptnotdefined, tiny_ai{{/str}}
                                {{/showsimplify}}
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    <img src="/lib/editor/tiny/plugins/ai/pix/translation.png" class="pix-16">
                                    {{#str}} translate, tiny_ai {{/str}}
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPurpose">
                            <div class="card-body">
                                {{#showtranslate}}
                                    <p>
                                        <button class="btn btn-primary" type="button" id="{{btnIdStartTranslation}}">{{#str}} startTranslation, tiny_ai {{/str}}</button>
                                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#additional-prompt-translate" aria-expanded="false"
                                                aria-controls="additional-prompt-translate">{{#str}} more_options , tiny_ai{{/str}}</button>
                                    </p>
                                    <label for="tiny_ai-translation-outputlanguage"> {{#str}} outputlanguage, tiny_ai {{/str}}</label>
                                    <select class="form-control" id='tiny_ai-translation-outputlanguage'>
                                        <option value="en">Englisch</option>
                                        <option value="de">Deutsch</option>
                                        <option value="uk">Ukrainisch</option>
                                        <option value="tr">Türkisch</option>
                                    </select>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="additional-prompt-translate">
                                                <div class="card card-body">
                  <span>
                    {{#str}} additional_prompt_translation, tiny_ai {{/str}}
                      <textarea id="tiny_ai-translate-prompt" class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth"></textarea>
                  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/showtranslate}}
                                {{^showtranslate}}
                                    {{#str}}purposetranslatenotdefined, tiny_ai{{/str}}
                                {{/showtranslate}}
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <img src="/lib/editor/tiny/plugins/ai/pix/text-to-speech.png" class="pix-16">
                                    {{#str}} text-to-speech, tiny_ai {{/str}}
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionPurpose">
                            <div class="card-body">
                                {{#showtts}}
                                    <p>
                                        <button class="btn btn-primary" type="button" id="{{btnIdStartTTS}}">{{#str}} startTTS, tiny_ai {{/str}}</button>
                                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#additional-prompt-tts" aria-expanded="false"
                                                aria-controls="additional-prompt-tts">{{#str}} more_options , tiny_ai{{/str}}</button>
                                    </p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="additional-prompt-tts">
                                                <div class="card card-body">
                                                    <label for="tiny_ai-tts-outputlanguage"> {{#str}} outputlanguage, tiny_ai {{/str}}</label>
                                                    <select class="form-control" id='tiny_ai-tts-outputlanguage'>
                                                        <option value="">Ausgangssprache verwenden</option>
                                                        <option value="en">Englisch</option>
                                                        <option value="de">Deutsch</option>
                                                        <option value="uk">Ukrainisch</option>
                                                        <option value="tr">Türkisch</option>
                                                    </select>
                                                    <label for="tiny_ai-tts-outputvoice"> {{#str}} voice, tiny_ai {{/str}}</label>
                                                    <select class="form-control" id='tiny_ai-tts-outputvoice'>
                                                        <option value="alloy">Alloy</option>
                                                        <option value="echo">Echo</option>
                                                        <option value="fable">Fable</option>
                                                        <option value="onyx">Onyx</option>
                                                        <option value="nova">Nova</option>
                                                        <option value="shimmer">Shimmer</option>
                                                    </select>
                                                    <textarea id="tiny_ai-tts-prompt"
                                                              class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth hidden">{{#str}} defaultprompt-tts, tiny_ai {{/str}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/showtts}}
                                {{^showtts}}
                                    {{#str}}purposettsnotdefined, tiny_ai{{/str}}
                                {{/showtts}}
                            </div>

                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    <img src="/lib/editor/tiny/plugins/ai/pix/image_generation.png" class="pix-16">
                                    {{#str}} image_generation, tiny_ai {{/str}}
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionPurpose">
                            <div class="card-body">
                                {{#showimggen}}
                                    <h5>{{#str}} prompt, tiny_ai {{/str}}</h5>
                                    <textarea id="tiny_ai-imggen-prompt"
                                              class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth">{{#str}} defaultprompt-imggen, tiny_ai {{/str}}</textarea>
                                    <p>
                                        <button class="btn btn-primary" type="button" id="{{btnIdStartImgGen}}">{{#str}} startimggen, tiny_ai {{/str}}</button>
                                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#additional-prompt-imggen" aria-expanded="false"
                                                aria-controls="additional-prompt-imggen">{{#str}} more_options , tiny_ai{{/str}}</button>
                                    </p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="additional-prompt-imggen">
                                                <div class="card card-body">
                                                    {{! <label for="tiny_ai-imagesize"> voice, tiny_ai </label>
                                                    <select class="form-control" id='tiny_ai-imagesize'>
                                                      <option value="256x256">256px x 256px</option>
                                                      <option value="512x512">512px x 512px</option>
                                                      <option value="1024x1024">1024px x 1024px</option>
                                                      <option value="1024x1792">1024px x 1792px</option>
                                                      <option value="1792x1024">1792px x 1024px</option>
                                                    </select> }}
                                                    <div class="form-outline">
                                                        <label class="form-label" for="tiny_ai-image-width">{{#str}} width , tiny_ai {{/str}} (px)</label>
                                                        <input type="number" id="tiny_ai-image-width" value="256" class="form-control"/>
                                                    </div>
                                                    <div class="form-outline">
                                                        <label class="form-label" for="tiny_ai-image-height">{{#str}} height , tiny_ai {{/str}} (px)</label>
                                                        <input type="number" id="tiny_ai-image-height" value="256" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/showimggen}}
                                {{^showimggen}}
                                    {{#str}}purposeimggennotdefined, tiny_ai{{/str}}
                                {{/showimggen}}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                    <img src="/lib/editor/tiny/plugins/ai/pix/free.png" class="pix-16">
                                    {{#str}} freemode, tiny_ai {{/str}}
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionPurpose">
                            <div class="card-body">
                                {{#showfreeprompt}}
                                    <h5>{{#str}} prompt, tiny_ai {{/str}}</h5>
                                    <textarea id="tiny_ai-free-prompt" class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth">{{{defaultprompt-free}}}</textarea>
                                    <p>
                                        <button class="btn btn-primary" type="button" id="{{btnIdStartFree}}">{{#str}} startfree, tiny_ai {{/str}}</button>
                                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#additional-prompt-free" aria-expanded="false"
                                                aria-controls="additional-prompt-free">{{#str}} more_options , tiny_ai{{/str}}</button>
                                    </p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="additional-prompt-free">
                                                <div class="card card-body">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/showfreeprompt}}
                                {{^showfreeprompt}}
                                    {{#str}}purposesinglepromptnotdefined, tiny_ai{{/str}}
                                {{/showfreeprompt}}
                            </div>
                        </div>
                    </div>

                </div>
                <div id="{{{spanResult}}}" class="hidden">
                    <h4>{{#str}} results_heading, tiny_ai {{/str}}</h4>
                    <textarea id="{{{taResult}}}" class="tiny_ai-modal-ta mt-10 tiny_ai_fullwidth">{{#str}} results_please_wait, tiny_ai {{/str}}</textarea>
                </div>
                <div id="tiny_ai-preview-wrapper" class="hidden">
                    <h4>{{#str}} preview_heading, tiny_ai {{/str}}</h4>
                    <div id="tiny_ai-preview"></div>
                </div>
            </form>
        {{/noactionsavailable}}
    </div>
{{/body}}

{{$footer}}
    <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel, moodle {{/str}}</button>
    <button type="button" class="btn btn-primary" data-action="save">{{#str}} apply, moodle{{/str}}</button>
{{/footer}}
{{/ core/modal }}
