<span class="tiny_ai-audio-label">{{audio_description}}</span>
<div class="tiny_ai-audio-player">
    <audio class="tiny_ai-audio-source" src="/audio/audio-test-file.mp3"></audio>
    <button class="tiny_ai-play-pause-button">
        <i class="fa fa-play"></i>
    </button>
    <div class="tiny_ai-progress-bar">
        <div class="tiny_ai-progress-bar-filled"></div>
        <div class="tiny_ai-progress-bar-thumb"></div>
    </div>
    <div class="tiny_ai-time">00:00 / 00:08</div>
</div>
