<a href="#" class="tiny_ai-card-button {{#disabled}}disabled{{/disabled}}" data-action="{{action}}">
    {{> tiny_ai/components/ai-icon}}

    <span class="tiny_ai-card-button--text-wrapper">
        <span class="tiny_ai-card-button--tool">{{tool}}</span>
        <span class="tiny_ai-card-button--description">{{description}}</span>
    </span>
</a>
