<div data-action="toggletooltip" data-toggle="tooltip" data-placement="top" title="{{tooltip}}">
    <a href="#" class="tiny_ai-card-button {{#disabled}}disabled{{/disabled}}" data-action="{{action}}" data-tool="{{toolname}}">
        {{> tiny_ai/components/ai-icon}}

        <span class="tiny_ai-card-button--text-wrapper">
            <span class="tiny_ai-card-button--tool">{{tool}}</span>
            <span class="tiny_ai-card-button--description">{{description}}</span>
        </span>
    </a>
</div>
