<div class="d-flex flex-column align-items-center m-5 h-100 w-100">
    <div class="mb-2"><span><i class="icon fa-solid {{icon}}"></i> {{filename}}</span></div>
    {{#isImage}}
    <div class="tiny_ai_dropzone_preview_container d-flex justify-content-center"><img src="{{{dataurl}}}"></div>
    {{/isImage}}
</div>
