<div class="tiny_ai-alert">
  <i class="tiny_ai-icon fa fa-info-circle"></i>
  <span class="tiny_ai-alert-text">
    Es sind nicht alle Funktionen verfügbar. Text- und Audiogenerierung wurden noch nicht aktiviert. Wenden Sie sich an Ihren Schul-Admin.
  </span>
</div>
