<div class="tiny_ai-info-warning">
    <p>{{#str}}aiwarning, tiny_ai{{/str}}</p>
    <a href="https://mebis.bycs.de/beitrag/kuenstliche-intelligenz" target="_blank"><i class="fa-solid fa-circle-info"></i></a>
</div>
