<div class="tiny_ai-footer-wrapper">
    <div class="tiny_ai-footer-left">
        {{#footerIconButtons}}
            {{> tiny_ai/components/ai-icon-button}}
        {{/footerIconButtons}}
    </div>
    <div class="tiny_ai-footer-right">
        {{#footerButtons}}
            {{> tiny_ai/components/ai-button}}
        {{/footerButtons}}
    </div>
</div>
{{> tiny_ai/components/moodle-modal-footer-info}}
