<div id="tiny_ai_start_{{uniqid}}" data-tiny_instance_uniqid={{tinyinstanceuniqid}} class="tiny_ai_wrapper-l">
    {{> tiny_ai/components/ai-info-text}}
    {{#input}}
        {{> tiny_ai/components/ai-input}}
    {{/input}}
    <div class="tiny_ai-modal--button-wrapper row">
        {{#modalButtons}}
            <div class="col-12 col-md-6 mb-3">
                {{> tiny_ai/components/ai-card-button}}
            </div>
        {{/modalButtons}}
    </div>
</div>
{{#js}}
    require(['tiny_ai/controllers/start'], function(Start) {
        const controller = new Start('#tiny_ai_start_{{uniqid}}');
        Promise.resolve(controller.init());
    });
{{/js}}
