<div class="tiny_ai-footer-wrapper">
    <div class="tiny_ai-footer-left">
        {{#footer_iconbuttons}}
            {{> tiny_ai/components/ai-icon-button}}
        {{/footer_iconbuttons}}
    </div>
    <div class="tiny_ai-footer-right">
        {{#footer_buttons}}
            {{> tiny_ai/components/ai-button}}
        {{/footer_buttons}}
    </div>
</div>
{{> tiny_ai/components/moodle-modal-footer-info}}
