<div class="row">
    {{#modal_dropdowns}}
        <div class="col-12 col-md-6 mb-3">
            {{> tiny_ai/components/ai-dropdown}}
        </div>
    {{/modal_dropdowns}}
</div>
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        {{> tiny_ai/components/ai-button}}
    </div>
</div>
