{{> tiny_ai/components/ai-icon}}
<h5 class="tiny_ai-headline">{{modal_headline}}</h5>
<div class="row">
    {{#buttons}}
        <div class="col text-center d-flex justify-content-center">
            {{> tiny_ai/components/ai-button}}
        </div>
    {{/buttons}}
</div>

