<div id="tiny_ai_dismiss_{{uniqid}}" data-tiny_instance_uniqid={{tinyinstanceuniqid}} class="d-flex flex-column h-100 justify-content-center align-items-center">
    <div class="row mb-3">
        {{> tiny_ai/components/ai-icon}}
        <h5 class="tiny_ai-headline">{{centeredHeadline}}</h5>
    </div>
    <div class="d-flex text-center row">
        {{#buttons}}
            <div class="col text-center d-flex">
                {{> tiny_ai/components/ai-button}}
            </div>
        {{/buttons}}
    </div>
</div>
{{#js}}
    require(['tiny_ai/controllers/dismiss'], function(Controller) {
        const controller = new Controller('#tiny_ai_dismiss_{{uniqid}}');
        Promise.resolve(controller.init());
    });
{{/js}}
